<!DOCTYPE html>
<html>
    <head>
        <style>
            
            tr, th {padding: 5px; text-align: left;}
            h1  {color: black;}
            div {color: red;}
        </style>
    <title>Welcome page</title>
    </head>
    
    <body>
        <h1>Login</h1>
        <form name="logiiin" method="post">{% csrf_token %}
            <table>
                <tr>
                    <th> 
                        <label>Username</label>
                    </th>
                    <th>
                        <input type="text" name="username" value={{username}}>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <label>Password</label>
                    </th>
                    <th>
                        <input type="password" name="password" value={{password}}>
                    </th>
                </tr>
                
                <tr>
                	<th>
                    	<div>{{login_er}}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <input type="submit" name='login2' value="Login">
                    </th>
		    <th>
                        <a href="/singin">Singin</a>
                    </th>
                </tr>
            </table>
        </form>
        <form name="logiiin" method="post">{% csrf_token %}
            <table>
                <tr>
                    <th> 
                        <label>Username1</label>
                    </th>
                    <th>
                        <input type="text" name="username" value={{username}}>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <label>Password1</label>
                    </th>
                    <th>
                        <input type="password" name="password" value={{password}}>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <div>{{login_er}}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <input type="submit" name='login1' value="Login1">
                    </th>
            <th>
                        <a href="/singin">Singin</a>
                    </th>
                </tr>
            </table>
        </form>
    </body>