<!DOCTYPE html>
<html>
    <head>
        <style>
            
            tr, th {padding: 5px; text-align: left;}
            h1  {color: black;}
            div {color: red;}
        </style>
    <title>Welcome page</title>
    </head>
    
    <body>
        <h1>Signup</h1>
        <form method="post">{% csrf_token %}
            <table>
                <tr>
                    <th> 
                        <label>Username</label>
                    </th>
                    <th>
                        <input type="text" name='username' value={{ username }}>
                    </th>
                    <th>
                        <div>{{ n_error }}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <label>Password</label>
                    </th>
                    <th>
                        <input type="password" name="password" value={{ password }}>
                    </th>
                    <th>
                        <div>{{ p_error }}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                         <label>Verify password</label>
                    </th>
                    <th>
                        <input type="password" name="verify" value={{ verify }}>
                    </th>
                    <th>
                        <div>{{ vp_error }}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <label>Email (optional)</label>
                    </th>
                    <th>
                        <input type="text" name="email" value={{ email }}>
                    </th>
                    <th>
                        <div>{{ e_error }}</div>
                    </th>
                </tr>
                
                <tr>
                    <th>
                        <input type="submit">
                    </th>
		    <th>
                        <a href="/login">Login</a>
                    </th>
                </tr>
            </table>
        </form>
    </body>
</html>