<!DOCTYPE html>
<html>
<title>Welcome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="/static/auth/style.css">
<style>

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity">
  <div class="w3-display-bottomright w3-padding-large w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Singin</button>
  </div>
  
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-text-white">WELCOME PAGE</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center w3-text-white">35 days left</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large w3-text-white">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div> 

  <div id="id01" class="modal">
    
    <form name="login" class="modal-content animate" method="post">{% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value={{username}}>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" value={{password}}>
        <div> {{login_er}} </div>
        
        <button type="submit" name="submit" value="login">Login</button>
        <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
        <a href="{% url "social:begin" "google-oauth2" %}">Google</a>
        <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>

  <div id="id02" class="modal">
    
    <form name="registration" class="modal-content animate" method="post">{% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value={{username}}>
        <div>{{ n_error }}</div>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" value={{password}}>
        <div>{{ p_error }}</div>
        
        <label><b>Confirm</b></label>
        <input type="password" placeholder="Confirm Password" name="confirm" value={{confirm}}>
        <div>{{ vp_error }}</div>

        <label><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" value={{email}}>
        <div>{{ e_error }}</div>

        <button type="submit" name="submit" value="registration">Singin</button>
        <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>


  <script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

  <script>
  // Get the modal
  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
</div>
</body>
</html>


